body {
	padding-top: 50px;
}

.no-result {
	margin: 10px 0;

	text-align: center;
}

.form-actions-fixed-bottom {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0;
	padding: 10px 0;

	border: 1px solid #e7e7e7;
	background: #f8f8f8;

	text-align: center;
}

.form-music .lyrics-line {
	display: none;
}
.form-music .lyrics-line td {
	border: none;
}

.form-music .lyrics-line label {
	text-align: left;
}

/** Webservice search results list **/
#searchResult h3 {
	padding-left: 10px;
}

#searchResult ul {
	padding: 0;

	list-style: none;
}
#searchResult li {
	display: block;
	height: 95px;
	position: relative;

	cursor: pointer;
}

#searchResult li:hover {
	background: #f8f8f8;
}

#searchResult li img {
	position: absolute;
	top: 10px;
	left: 10px;

	max-height: 75px;
}

#searchResult li div {
	padding: 0 10px 0 95px;
}
